.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: #0a0a4c;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 300px; /* Adjust width as needed */
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.card h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
